# Sharefox API credentials
SHAREFOX_ADMIN_EMAIL=admin@example.com
SHAREFOX_ADMIN_PASSWORD=your-password-here
SHAREFOX_DOMAIN=monter-skien.mysharefox.com
SHAREFOX_BASE_URL=https://api.mysharefox.com/api-v2

# Warehouse config
DEFAULT_WAREHOUSE_CODE=MONTER-SKI
DEFAULT_WAREHOUSE_NAME=Monter Skien
